.main-nav {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 10;
  background-color: $main-color;

  // первый уровень
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    padding: 15px 20px 0 20px;
    list-style: none;

    // мобильный вид списка
    @media (max-width: ($menu-desktop-width - 1)) {

      // открытие/закрытие меню только в случае работающего JS

      .js & {
        // overflow: hidden;
        // max-height: 0;
        // transition: max-height 0.2s;
      }

      .js #{$block-name}--open & {
        // max-height: 100vh;
        // transition: max-height 0.6s;
      }
    }

    // настольный вид списка
    @media (min-width: $menu-desktop-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    position: relative;
    width: calc(50% - 15px);
    margin-bottom: 10px;

    &.active {
      background-color: $white;

      & > #{$block-name}__link {
        color: $main-color;
      }
    }
  }

  &__link {
    display: block;
    padding: 0.35em 1em;
    font-size: inherit;
    font-weight: 500;
    text-decoration: none;
    color: $white;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $main-color;
      background-color: $white;
      //background-color: aquamarine;
    }
  }
}
