.tv-page {

  .col {
    @include col(xs,12);

    &--intro {
      padding-left: 0;
      padding-right: 0;

      @media (min-width: $screen-md) {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    &--features {
      @include col(xl,5);
    }

    &--features-img {
      @include col-offset(md,2);
      @include col(md,8);
      @include col-offset(xl,1);
      @include col(xl,6);
    }

    &--tv-rates {
      @include col(md,6);
      @include col(xl,3);
      margin-bottom: 25px;

      &--3 {
        @include col(xl,4);
      }

      @media (min-width: $screen-xl) {
        margin-bottom: 0;
      }
    }

    &--media {
      @include col(xs,12);
      @include col-offset(md,1);
      @include col(md,10);
      @include col-offset(xl,0);
      @include col(xl,6);
    }

    &--media-content {
      @include col(xs,12);
      @include col-offset(md,1);
      @include col(md,10);
      @include col-offset(xl,1);
      @include col(xl,5);
    }
  }

  .row {
    margin-bottom: 40px;

    @media (min-width: $screen-xl) {
      margin-bottom: 70px;
    }

    &--tv-rates {
      margin-bottom: 20px;

      @media (min-width: $screen-xl) {
        margin-bottom: 25px;
      }
    }
  }

  $block-name:                &; // #{$block-name}__element

  &__article {

    section,
    ul,
    p {
      text-align: left;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__intro {
    padding: 20px 10px;
    font-weight: 500;
    box-shadow: $shadow-block;

    @media (min-width: $screen-md) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (min-width: $screen-xl) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &__features {
    padding-bottom: 40px;

    .h2 {
      margin-bottom: 25px;

      @media (min-width: $screen-xl) {
        margin-bottom: 40px;
      }
    }
  }

  &__features-list {
    margin: 0;
    padding: 0;
    font-weight: 500;
    list-style-type: none;

    li {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__features-img-wrapper {
    width: 100%;
    max-width: 405px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    @media (min-width: $screen-md) {
      max-width: 480px;
    }

    @media (min-width: $screen-xl) {
      max-width: none;
    }
  }

  &__rates-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: $shadow-block;
  }

  &__rates-text {
    flex: 1 1;
    padding: 25px 15px;
  }

  &__rates-title {
    margin-top: 0;
    color: $second-color;
  }

  &__rates-price,
  &__rates-descr {
    display: block;
  }

  &__rates-price {

    & > span {
      color: $main-color;
    }
  }

  &__rates-descr {
    font-size: 18px;
    font-weight: 500;

    span {
      font-weight: 700;
      color: $main-color;
    }
  }

  &__order-btn {
    width: 100%;
  }

  &__media {

    .row--media {
      margin-bottom: 0 !important;
    }
  }

  &__media-img-wrapper {
    width: 100%;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      object-fit: cover;
      object-position: center;
      margin-bottom: 20px;

      @media (min-width: $screen-xl) {
        margin-bottom: 25px;
      }
    }

    @media (min-width: $screen-md) {
      max-width: 590px;
    }
  }

  &__media-icons {
    @include col(xs,6);
    @include col(md,4);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;

    img {
      display: inline-block;
      vertical-align: top;
      width: 48px;
      height: 34px;
    }

    span {
      display: block;
      margin: 0;
      margin-top: auto;
      height: 52px;

      br {
        @media (min-width: $screen-lg) {
          display: none;
        }
      }
    }

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }

    &--android {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;

      img {
        width: 38px;
        height: 48px;
      }
    }
  }

  &__price-banner {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    box-shadow: $shadow-block;

    .col {
      position: relative;
      padding: 20px 25px;

      &:first-child {
        color: $white;
        background-color: $second-color;

        &::before {
          @include top-right-triangle($white, 0, 0, 38px, 38px);
        }
      }

      &:last-child {

        &::before {
          @include top-right-triangle($third-color, 0, 0, 38px, 38px);
        }
      }

      @media (min-width: $screen-md) {
        width: 50%;
        flex: 1 1;
        padding: 25px 20px;
      }
    }

    dl {
      margin: 0;
    }

    dd {
      margin-left: 0;
      font-size: 18px;
      font-weight: 500;
    }

    table {
      width: 100%;
      border-collapse: collapse;

      th {
        padding-left: 0;
        padding-right: 0;
      }

      td {
        padding: 0;
        font-weight: 500;

        &:last-child {
          font-weight: 700;
          color: $main-dark-color;
        }
      }
    }

    @media (min-width: $screen-md) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__price-banner-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

    &--table {
      color: $main-dark-color;
    }
  }

  &__media-content-wrapper {
    width: 100%;
    margin-top: 40px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    @media (min-width: $screen-lg) {
      height: 195px;
      margin-top: 30px;
    }

    @media (min-width: $screen-xl) {
      height: 210px;
    }
  }
}
