.vacancy-page {
  margin-top: 18px;
  text-align: center;
  border-top: 4px solid $main-dark-color;

  @media (min-width: $screen-md) {
    margin-top: 40px;
  }

  $block-name:                &; // #{$block-name}__element

  .col {
    @include col(xs,12);
    @include col-offset(md,1);
    @include col(md,10);
    @include col-offset(xl,2);
    @include col(xl,8);
  }

  .ac {
    margin-top: 25px;
    border: none;

    .ac-q,
    .ac-a {
      font-family: inherit;
      color: $text-color;

      p {
        padding: 20px 15px 20px 25px;
        font-family: inherit;
        font-size: inherit;
      }
    }

    .ac-q {
      min-height: 48px;
      padding: 14px 60px 14px 15px;
      font-size: inherit;
      color: $text-color;
      user-select: none;

      &::after {
        display: none;
      }

      &::before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 48px;
        height: 48px;
        background-color: $white;
        background-size: 12px 24px;
        background-image: svg-load('../img/left-arrow.svg', fill=$second-color);
        background-position: center;
        background-repeat: no-repeat;
        transform: rotate(-90deg);
      }

      &:hover,
      &:focus {
        color: $second-color;
        //outline: 2px solid green;
      }
    }

    &.is-active {

      .ac-q {

        &::before {
          background-color: $second-color;
          background-image: svg-load('../img/left-arrow.svg', fill=$white);
          transform: rotate(-90deg) scale(-1, 1);
        }
      }
    }
  }

  &__content {
    text-align: left !important;
  }

  &__title {
    margin: 0;

    text-align: left;

    &:focus {
      outline: none;
    }
  }

  &__acc-item {
    box-shadow: $shadow-block;
  }
}
