@mixin text-hide {
  font-size: 0;
  line-height: 0;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

@mixin list-decorated {
  padding-left: 50px;
  position: relative;
  list-style-type: none;

  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-2px);
    left: 0;
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: $main-color;

    @media (min-width: $screen-md) {
      transform: translateY(-3px);
    }
  }
}

@mixin img-sharp {
  image-rendering: pixelated;
   image-rendering: -moz-crisp-edges; /* Firefox */
   -ms-interpolation-mode: nearest-neighbor; /* IE */
}

@mixin top-right-triangle($bg-color, $top, $right) {
  position: absolute;
  z-index: 5;
  top: $top;
  right: $right;
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  background: linear-gradient(45deg, transparent, transparent 50%, $bg-color 50%, $bg-color);
  filter: drop-shadow(-2px 2px 4px rgba(0, 0, 0, 0.25));
}

@mixin banner-caption {
  display: inline-block;
  vertical-align: top;
  padding: 6px 60px 10px;
  margin-bottom: 40px;
  color: $white;
  // background-color: $main-color;
  background-image: svg-load('../img/left-corner.svg', fill=$main-dark-color),
                    svg-load('../img/right-corner.svg', fill=$main-dark-color),
                    linear-gradient(to right, transparent, transparent 20px, $main-color 20px, $main-color calc(100% - 20px), transparent calc(100% - 20px));
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top -1px, right top -1px;
}
