.contacts-page {
  margin-top: 18px;
  text-align: center;
  border-top: 4px solid $main-dark-color;

  @media (min-width: $screen-md) {
    margin-top: 40px;
  }

  $block-name:                &; // #{$block-name}__element

  .col-text,
  .col-map {
    @include col(xs,12);
    @include col-offset(md,1);
    @include col(md,10);
    @include col-offset(xl,0);
    @include col(xl,6);
  }

  .page-footer__contacts {
    text-align: left;
    background-color: transparent;

    @media (min-width: $screen-xl) {
      max-width: none;
      padding: 0;
    }
  }

  .page-footer__contacts-link > span,
  .page-footer__social-link > span {
    background-color: transparent;
  }

  .page-footer__contacts-item--social {

    @media (min-width: $screen-md) {
      width: 100%;
    }

    @media (min-width: $screen-xl) {
      width: 100%;
    }
  }

  .page-footer__social-link {
    @media (min-width: $screen-md) {
      margin-right: 55px;
      margin-bottom: 30px;
    }
  }

  .map-block {
    border-top: none;
    height: 320px;
    overflow: hidden;

    @media (min-width: $screen-md) {
      height: 475px;
    }

    @media (min-width: $screen-xl) {
      height: 320px;
    }
  }

  .map-block__map {}
}
