.actions-page {
  margin-top: 18px;
  text-align: center;
  border-top: 4px solid $main-dark-color;

  @media (min-width: $screen-xl) {
    margin-top: 40px;
  }

  $block-name:                &; // #{$block-name}__element
}
