.logo {

  $block-name:                &; // #{$block-name}__element

  display: block;
  white-space: nowrap;

  img {
    display: block;
    width: 105px;
    height: 50px;
  }

  &--header {
    margin-bottom: 10px;
    margin-left: 10px;

    @media (min-width: $screen-md) {
      margin-left: 20px;
    }
  }
}
