.news-block {
  text-align: center;
  border-top: 4px solid $main-dark-color;

  $block-name:                &; // #{$block-name}__element

  &__item {
    box-shadow: $shadow-block;
  }

  &__img-wrapper {
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.15);

    img {
      display: block;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__content {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
  }

  &__title {
    margin-top: 0;
    min-height: 72px;
    text-align: inherit;
    overflow: hidden;
  }

  &__date {
    font-size: 14px;
    color: $text-muted;
  }

  &__link {
    display: block;
    padding: 8px 25px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    color: $white;
    background-color: $second-color;
    border: 3px solid $second-color;
    transition: all 0.2s ease-out;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $second-color;
      border-color: $second-color;
      background-color: $white;
      outline: none;
    }
  }

  &__control-wrapper {
    padding-top: 30px !important;
    padding-bottom: 70px !important;
    padding-left: 3px !important;
    padding-right: 3px !important;

    @media (min-width: $screen-xl) {
      justify-content: space-between;
      padding-left: 3px !important;
      padding-right: 3px !important;
    }
  }

  &__all-links {
    display: flex;
    align-content: center;
    padding: 8px 30px 9px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    color: $second-color;
    background-color: $white;
    box-shadow: $shadow-btn;

    span {
      display: block;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: $white;
      background-color: $second-color;
      outline: none;
    }
  }

  &__btn {

    &--prev,
    &--next {

      @media (min-width: $screen-xl) {
        transform: none;
      }
    }

    &--prev {

    }

    &--next {

    }

    @media (min-width: $screen-xl) {
      position: static;
    }
  }
}

