.single-text-block {

  $block-name:                &; // #{$block-name}__element

  .col {
    @include col(xs,12);
  }

  &__content {
    padding-top: 20px;
    padding-bottom: 40px;

    p {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      font-weight: 700;
    }

    @media (min-width: $screen-xl) {
      padding-top: 50px;
      padding-bottom: 70px;
    }
  }
}
