.services-single-page {

  $block-name:                &; // #{$block-name}__element

  .col-service {
    @include col(xs,12);
    @include col-offset(md,1);
    @include col(md,10);
    @include col-offset(xl,1);
    @include col(xl,10);
    padding-left: 0;
    padding-right: 0;
  }
}
