.slider-col {
  @include col(xs, 12);
  //padding: 0;
  @include col-offset(md, 1);
  @include col(md, 10);
  @include col-offset(xl, 1);
  @include col(xl, 11);

  @media (min-width: $screen-xl) {
    position: relative;
  }
}

.main-slider {
  max-width: 100%;

  $block-name:                &; // #{$block-name}__element

  &__item {
    padding-top: 40px;
    padding-bottom: 20px;

    @media (min-width: $screen-xl) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0 20px;
      padding-top: 20px;
    }
  }

  &__title {
    margin-bottom: 16px;
    text-align: initial;
  }

  &__info {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 1.4;

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    margin-bottom: 16px;

    @media (min-width: $screen-xl) {
      flex: 1 1 auto;
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    vertical-align: top;
    //width: 100%;
    //height: 100%;
    //overflow: hidden;
  }

  &__img {
    display: flex;
    justify-content: center;
    max-width: 580px;
    margin: 0 auto;

    @media (min-width: $screen-xl) {
      flex: 0 0 580px;
    }

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__control-wrapper {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;

    @media (min-width: $screen-md) {
      padding: 20px;
    }

    @media (min-width: $screen-xl) {
      justify-content: center;
      padding-top: 17px;
      padding-bottom: 15px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__btn {
    position: static;
    width: 40px;
    height: 40px;
    margin-top: 0;
    background-color: $white;
    background-position: center;
    background-size: 12px 24px;
    box-shadow: $shadow-btn;
    transition: all 0.2s ease-out;

    @media (min-width: $screen-xl) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      width: 48px;
      height: 48px;
    }

    &--prev {
      background-image: svg-load('../img/left-arrow.svg', fill=$second-color);

      @media (min-width: $screen-xl) {
       transform: translate(-102px, -50%);
      }

      &:hover,
      &:focus {
        background-color: $second-color;
        background-image: svg-load('../img/left-arrow.svg', fill=$white);
      }
    }

    &--next {
      background-image: svg-load('../img/right-arrow.svg', fill=$second-color);

      // @media (min-width: $screen-xl) {
      //   transform: translateX(75px);
      // }

      &:hover,
      &:focus {
        background-color: $second-color;
        background-image: svg-load('../img/right-arrow.svg', fill=$white);
      }
    }
  }

  &__pagination {
    position: static;
    box-sizing: border-box;

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      margin-right: 20px;
      box-sizing: inherit;
      border: 2px solid $second-color;
      background-color: $white;
      border-radius: 0;
      opacity: 1;
      box-shadow: 0 0 0 2px $white, 1px 1px 6px 3px rgba(0, 0, 0, 0.25);

      &:last-child {
        margin-right: 0;
      }

      @media (min-width: $screen-xl) {
        width: 26px;
        height: 26px;
        border-width: 3px;
        box-shadow: 0 0 0 3px $white, 1px 1px 6px 3px rgba(0, 0, 0, 0.25)
      }
    }

    .swiper-pagination-bullet-active {
      background-color: $second-color;

      @media (min-width: $screen-xl) {
        position: relative;
        background-color: $white;

        &::before {
          position: absolute;
          top: 3px;
          left: 3px;
          content: "";
          display: block;
          width: 14px;
          height: 14px;
          background-color: $second-color;
        }
      }
    }
  }
}
